/* :: 1.0 Import Web Fonts */

body {
    padding-top: 100px;
    font-size: 20px;
    font-family: futura-pt, sans-serif;
}

#details-container {
    padding-top: 1%;
}

#myCarousel {
    margin-left: 15%;
    margin-right: auto;
    display: block;
    width: 650px;
    height: 700px;
}

.carousel-control.left, .carousel-control.right {
    background: none !important;
    outline: 0;
    opacity: 1;
    color: #2d2d2d;
}


.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 650px;
    height: 700px;
    display: block;
    object-fit: cover;
}

.details-container {
    width: 80%;
    line-height: 2;
    padding-top: 2%;
}

p#brand-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #626262;
    /*letter-spacing: 1px;*/
    /*font-weight: 500;*/
}

.details-container > .product-desc {
    line-height: 180%;
    font-weight: lighter;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.details-container > .price {
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: nowrap;
}