/* :: 1.0 Import Web Fonts */

body {
    padding-top: 100px;
    font-size: 14px;
    font-family: futura-pt,sans-serif;
}

#navbar {
    height: 90px;
    padding-top: 20px;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.dropdown-menu>li {
    height: 45px;
    /*border-bottom: 1px solid rgba(242,244,248,.7);*/
}

.dropdown-menu>li>a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.cart-button img{
    height: 45px;
    width: auto;
    padding-top: 10px;
    margin-left: 250px;
}

#brandbar{
    font-size: 80px;
    color: white;
}

.container-fluid {
    margin-left: 120px !important;
    margin-right: 120px !important;
}

.container-fluid .row {
    padding-bottom: 2%;
}

#images {
    width: 350px;
    height: 350px;
    display: block;
    object-fit: cover;
    /*max-width: 100%;*/
    margin-bottom: 2%;
}


#hover-details:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

#hover-details .button {
    position: absolute;
    width: 200px;
    top: 45%;
    left: 25%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

#hover-details .button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

#hover-details:hover .button {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 50px;
    left: 15px;
    width: 350px;
    height: 350px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

#container-text-product {
    /*margin-top: 10px;*/
    height: 50px;
    width: 350px;
    display: flex !important;
    align-items: center;

    font-style: normal;
    font-weight: 300;
    letter-spacing: .5px;
    font-size: 18px;
    color: #2d2d2d;
    word-wrap: break-word;
}

s {
    font-size: 18px;
}

.container-fluid .price {
    font-weight: 900;
    letter-spacing: 2px;
    white-space: nowrap;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.....................................*/

#details-container {
    padding-top: 1%;
}

.col-md-7{
    padding-left: 200px !important;
    /*margin-right: 120px !important;*/
}

#myCarousel {
    width: 500px;
    height: 700px;
}
